


  <!-- ======= Footer ======= -->
  <footer class="footer">
    <div class="container text-center">
      <span class="text-muted"> <i class="far fa-envelope"></i> hello@medici.finance</span>
      <br> 
      <span class="text-muted"> Made with ♥️ in San Francisco</span>
    </div>
</footer>


  <!-- End Footer -->