  <nav class="navbar navbar-expand-md navbar-light bg-light">

    <a class="navbar-brand font-weight-lighter" href="/">
      <img src="/assets/logo-medici-1.png" width="40" height="30" class="d-inline-block align-top" alt="">
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link" href="/wallet">Demo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
          </li>
        </ul>


        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link font-weight-lighter" href="/home-pt"><img src="https://img.icons8.com/offices/30/000000/brazil.png"/>  Português</a>
          </li>

      </ul>
    </div>
</nav>