<h2 class="font-weight-lighter"><i class="far fa-edit"></i> Weekly Progress: May 10, 2020</h2>
<hr>
<p>Quite a few highlights this week! </p>

<ul style="margin-top: 0.5em;">
    <li>Presented at the <a href="https://hackathon.money/">HackMoney</a> halfpoint demo session, with 50+ attendees and YouTube/Twitter livestream. Got some valuable feedback.</li>
    <li>Put together this simple landing page to communicate Medici's motivations and progress.</li>
    <li>Integrated our Web3 dApp with <a href="https://www.portis.io/">Portis</a>, an in-browser, mobile-friendly wallet that allows users to interact with the Ethereum blockchain using a username and password. No additional installation required!</li>
    <li>Implementation of the logic to supply Ethereum assets to the Compound protocol and earn interest</li>
    <li>User research: Speaking to 10+ individuals to analyze the implications of fiat currency fluctuations on emerging/developing economies</li>
    <li>Continuing through week 2 of HackMoney, a virtual DeFi hackathon. Grateful for the support from its amazing team, mentors and sponsors!</li>
</ul>

<img src="/assets/portis.gif" class="img-fluid" alt="Responsive image" style="padding: 0.5em; margin: 3%;">


<h2 class="font-weight-lighter"><i class="far fa-edit"></i> Weekly Progress: May 3, 2020</h2>
<hr>
<ul>
    <li>Finished week 1 of <a href="https://hackathon.money/">HackMoney</a>, a virtual hackathon for hackers around the world to build DeFi applications.</li>
    <li>In less than 24 hours, built proof of concept for the wallet using web3.js, interfacing with Compound protocol on Ethereum. Engaged with the core devs!</li>
    <li>Published 650-word post to share the initial concepts behind Medici</li>
    <li>Got extensive feedback from 3 of my smartest founder friends</li>
</ul>


<section id="about">
    <h2 class="font-weight-lighter"><i class="fas fa-scroll"></i> About Medici</h2>
    <hr>

    <div class="container">
        <h3 class="font-weight-light">Earn interest on savings converted to crypto assets.</h3>
        <h4 class="font-weight-lighter">Open to anyone in the world. Get started in minutes.</h4>
    </div>
    <br>
    <div class="container details">
        <h3 class="font-weight-light">What is Medici?</h3>
        <p>
            We are building Medici to address a few issues in today's turbulent economy and the blockchain space:
        </p>
        <ol>
            <li><b>Hedge currency depreciation risk:</b> Make it easy for anyone in the world to hold "stable" assets (digital gold, digital dollar)</li>
            <br>
            <li><b>Lower barriers to entry for investing:</b> Allow anyone to invest in a range of interest-earning assets, without the need of setting up a bank or ETRADE account</li>
            <br>
            <li><b>Poor UX in blockchain apps:</b> Easy onboarding without needing an existing crypto wallet, browser extensions, etc.</li>
        </ol>
        
        <br>
        
        <h3 class="font-weight-light">How does it work?</h3>
        <p>Medici values accessibility for international users—often, those who are the most in need for decentralized finance.</p>

        <p>To get started, Medici allows anyone to fund a crypto wallet with their debit card. The funds are then converted into a digital asset such as a stablecoin (DAI, USDC) and deposited into Compound.</p>

        <p>Compound is an algorithmic, autonomous interest rate protocol built on Ethereum, that allows users to supply and borrow crypto assets. When you supply an asset to Compound, that asset can start earning interest right away.</p>

        <p>In V1, users will be able to monitor their earnings on the Medici UI and instantly deposit or redeem their assets (as Ethereum or DAI).</p>

        <img src="/assets/wallet-ui.png" class="img-fluid" alt="Responsive image" width="40%" style="padding: 0.5em">

        <br>
        <h3 class="font-weight-light">Why blockchain?</h3>
        <ul>
            <li>You only need an internet connection to start investing. This drastically lowers the barriers to entry. Those of us who live in the United States take this for granted—we have our Robinhood and Wealthfront accounts, 401k, and we earn a salary in the world's favorite currency. We laugh at how cheap everything is when we take our USD and go to Thailand, Greece, Japan. But most people outside the US (especially in the developing world) have much fewer options.</li>
            <br>
            <li>An ingenious method to hedge currency depreciation: Usually, you can't hold USD if you live and have an account in Brazil or Vietnam. But if your domestic currency is one of those being hammered by COVID-19, you might be going through the anxiety of watching the value of your earnings plummet. Today's economy is a global one, so you're impacted even if you don't leave your home country (for example, coffee might become more expensive if your country relies on importing this commodity).</li>
            <br>
            <li>Generate earnings, but not just in a specific currency: Even if you use a Mexican version of Robinhood, odds are your investments are still in Peso. So if you've lost trust in your local currency, you have very few options. The blockchain allows you to hold a variety of assets: USD stablecoins, Ethereum, Bitcoin, and more.</li>
        </ul>
        <br>
        <h3 class="font-weight-light">Why now?</h3>
        <ul>
            <li>In 2020, DeFi is taking the blockchain space by storm. One of its most promising protocols, Compound (funded by Bain, a16z, Coinbase) is now allowing people to earn interest on Tether—which offers digital versions of national currencies like the US dollar, the Euro, and offshore Chinese yuan. Many of Compound's developer docs were written in the past month!</li>
            <br>
            <li>We are seeing a wave of new tools and libraries for developers to build on top of, which can facilitate onboarding the "mainstream" user.</li>
            <br>
            <li>a16z announced crypto fund II this past week (May 2020), a $500M fund to accelerate next-generation payments, decentralized finance, web3, and more.</li>
            <br>
            <li>COVID-19 has caused fear in the markets, hence the spike in gold and anxiety around currency depreciation.</li>
        </ul>
    </div>
</section>
