<!-- EXAMPLE -->
<!-- <div class="blog-post">
    <h2 class="blog-post-title">New feature</h2>
    <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <ul>
      <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
      <li>Donec id elit non mi porta gravida at eget metus.</li>
      <li>Nulla vitae elit libero, a pharetra augue.</li>
    </ul>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
  
    
  </div> -->
  <!-- /.blog-post -->


  <div class="blog-post">                  
      <h2 class="blog-post-title">Weekly Progress: May 24, 2020</h2>
      <!-- <hr> -->
      <p>This is the final week of <a href="https://hackathon.money/">HackMoney</a>, and tonight's the submission deadline! I learned a lot over the last 4 weeks, only to walk away with an idea of how much I have yet to learn about DeFi.</p>
  
      <p>This was the most productive week since the inception of the project, probably due to the looming deadline. 😅</p>
      
      <p>Here's my final submission video:</p>
      <div class="container">
          <iframe  src="https://www.youtube.com/embed/TsaYFR7vudI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  
      <p>Updates for the week:</p>
  
      <ul>
          <li>Completed the implementation for supplying and redeeming DAI, the most reknowned stablecoin pegged to the US Dollar.</li>
          <li>Added modal for purchasing tokens with debit card + FX conversion widget</li>
          <li>Major UI upgrades: Redesigned the wallet for mobile-friendliness, added dynamically-updating balances based on interest rates, new logo, new look!</li>
          <li>Homepage redesign, fixed navbar bug</li>
          <li>Got in touch with MoonPay for better fiat-to-crypto payments</li>
          <li>Prototyped Chinese and Portuguese translations</li>
          <li>Produced 4-minute presentation and demo for <a href="https://youtu.be/TsaYFR7vudI">HackMoney submission video</a></li>
      </ul>
  
      <img src="assets/demo0524.gif" class="rounded mx-auto d-block" width="80%" alt="">
  </div>
  <!-- /.blog-post -->


<div class="blog-post">
    <h2>Weekly Progress: May 17, 2020</h2>
    
    <ul style="margin-top: 1em">
        <li>Deployed <a href="/wallet">demo app</a> to Rinkeby testnet! In-app wallet (Portis integration) working smoothly for account creation and confirming transactions. Interacting with the Compound contract on Rinkeby.</li>
        <li>Customer research: conversations with 8 individuals from emerging economies, about spending and saving habits</li>
        <li>Feedback from <a href="https://pioneer.app/">Pioneer tournament</a>: participants in Russia and New Zealand mentioned concern about domestic currencies, which means there are opportunities for DeFi to help these individuals diversify their assets.</li>
        <li>Using the Compound API to fetch interest and exchange rates</li>
        <li>Added Wyre widget for wallet funding with fiat (debit card)</li>
        <li>Wallet UI re-design: Better organization and clarity, new font, assets</li>
        <li>Landing page improvements, enabled SSL</li>
    </ul>
    <div class="container">
        <iframe  src="https://www.youtube.com/embed/6yQgx2P50ig" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

</div>

<div class="blog-post">
    <h2>Weekly Progress: May 10, 2020</h2>
    <p>Quite a few highlights this week! </p>
    
    <ul style="margin-top: 0.5em;">
        <li>Presented at the <a href="https://hackathon.money/">HackMoney</a> halfpoint demo session, with 50+ attendees and YouTube/Twitter livestream. Got some valuable feedback.</li>
        <li>Put together this simple landing page to communicate Medici's motivations and progress.</li>
        <li>Integrated our Web3 dApp with <a href="https://www.portis.io/">Portis</a>, an in-browser, mobile-friendly wallet that allows users to interact with the Ethereum blockchain using a username and password. No additional installation required!</li>
        <li>Implementation of the logic to supply Ethereum assets to the Compound protocol and earn interest</li>
        <li>User research: Speaking to 10+ individuals to analyze the implications of fiat currency fluctuations on emerging/developing economies</li>
        <li>Continuing through week 2 of HackMoney, a virtual DeFi hackathon. Grateful for the support from its amazing team, mentors and sponsors!</li>
    </ul>
    
    <img src="/assets/portis.gif" class="img-fluid" alt="Responsive image" style="padding: 0.5em; margin: 3%;">
</div>


<div class="blog-post">
    <h2>Weekly Progress: May 3, 2020</h2>
    <ul style="margin-top: 0.5em;">
        <li>Finished week 1 of <a href="https://hackathon.money/">HackMoney</a>, a virtual hackathon for hackers around the world to build DeFi applications.</li>
        <li>In less than 24 hours, built proof of concept for the wallet using web3.js, interfacing with Compound protocol on Ethereum. Engaged with the core devs!</li>
        <li>Published 650-word post to share the initial concepts behind Medici</li>
        <li>Got extensive feedback from 3 of my smartest founder friends</li>
    </ul>
</div>


<section id="about">
    <h2 class="font-weight-lighter"><span class="underline--magical-yellow-thin">About Medici</span></h2>

    <div class="container">
        <h3 class="font-weight-light">Earn interest on savings converted to crypto assets.</h3>
        <h4 class="font-weight-lighter">Open to anyone in the world. Get started in minutes.</h4>
    </div>
    <br>
    <div class="container details">
        <h3 class="font-weight-light">What is Medici?</h3>
        <p class="font-weight-lighter">
            We are building Medici to address a few issues in today's turbulent economy and the blockchain space:
        </p>
        <ol>
            <li class="py-2 font-weight-lighter"><b>Hedge currency depreciation risk:</b> Make it easy for anyone in the world to hold "stable" assets (digital gold, digital dollar)</li>
            <br>
            <li class="py-2 font-weight-lighter"><b>Lower barriers to entry for investing:</b> Allow anyone to invest in a range of interest-earning assets, without the need of setting up a bank or ETRADE account</li>
            <br>
            <li class="py-2 font-weight-lighter"><b>Poor UX in blockchain apps:</b> Easy onboarding without needing an existing crypto wallet, browser extensions, etc.</li>
        </ol>
        
        <br>
        
        <h3 class="font-weight-light">How does it work?</h3>
        <p class="font-weight-lighter">Medici values accessibility for international users—often, those who are the most in need for decentralized finance.</p>

        <p class="font-weight-lighter">To get started, Medici allows anyone to fund a crypto wallet with their debit card. The funds are then converted into a digital asset such as a stablecoin (DAI, USDC) and deposited into Compound.</p>

        <p class="font-weight-lighter">Compound is an algorithmic, autonomous interest rate protocol built on Ethereum, that allows users to supply and borrow crypto assets. When you supply an asset to Compound, that asset can start earning interest right away.</p>

        <p class="font-weight-lighter">In V1, users will be able to monitor their earnings on the Medici UI and instantly deposit or redeem their assets (as Ethereum or DAI).</p>

        <img src="/assets/wallet-ui.png" class="img-fluid" alt="Responsive image" width="40%" style="padding: 0.5em">

        <br>
        <h3 class="font-weight-light">Why blockchain?</h3>
        <ol>
            <li class="py-2 font-weight-lighter">You only need an internet connection to start investing. This drastically lowers the barriers to entry. Those of us who live in the United States take this for granted—we have our Robinhood and Wealthfront accounts, 401k, and we earn a salary in the world's favorite currency. We laugh at how cheap everything is when we take our USD and go to Thailand, Greece, Japan. But most people outside the US (especially in the developing world) have much fewer options.</li>
            <li class="py-2 font-weight-lighter">It is an ingenious method to hedge currency depreciation: Usually, you can't hold USD if you live and have an account in Brazil or Vietnam. But if your domestic currency is one of those being hammered by COVID-19, you might be going through the anxiety of watching the value of your earnings plummet. Today's economy is a global one, so you're impacted even if you don't leave your home country (for example, coffee might become more expensive if your country relies on importing this commodity).</li>
            <li class="py-2 font-weight-lighter">Generate earnings, but not just in a specific currency: Even if you use a Mexican version of Robinhood, odds are your investments are still in Peso. So if you've lost trust in your local currency, you have very few options. The blockchain allows you to hold a variety of assets: USD stablecoins, Ethereum, Bitcoin, and more.</li>
        </ol>
        <br>
        <h3 class="font-weight-light">Why now?</h3>
        <ol>
            <li class="py-2 font-weight-lighter">In 2020, DeFi is taking the blockchain space by storm. One of its most promising protocols, Compound (funded by Bain, a16z, Coinbase) is now allowing people to earn interest on Tether—which offers digital versions of national currencies like the US dollar, the Euro, and offshore Chinese yuan. Many of Compound's developer docs were written in the past month!</li>
            <li class="py-2 font-weight-lighter">We are seeing a wave of new tools and libraries for developers to build on top of, which can facilitate onboarding the "mainstream" user.</li>
            <li class="py-2 font-weight-lighter">a16z announced crypto fund II this past week (May 2020), a $500M fund to accelerate next-generation payments, decentralized finance, web3, and more.</li>
            <li class="py-2 font-weight-lighter">COVID-19 has caused fear in the markets, hence the spike in gold and anxiety around currency depreciation.</li>
        </ol>
    </div>
</section>
