
<html>
    <%- include('partials/head') %>
    <body>
        <%- include('partials/nav') %>


        <div class="container mt-5">
            <h1 class="display-1 font-weight-lighter"><span class="underline--magical-yellow-thick">Medici Blog</span> </h1>

            <section id="blog-content">
                <%- include('partials/posts') %>
            </section>
        </div>
        <%- include('partials/footer') %>
    </body>
</html>