<html>
    <%- include('partials/head') %>
    <body>
        <%- include('partials/nav') %>

        <div class="container home-banner " data-aos="fade-up" data-aos-duration="500">
            <img src="/assets/medici-black.png" class="rounded mx-auto d-block" width="80%" style="margin-top: 5em; margin-bottom: 2em;" alt="" >
            
            <h2 class="font-weight-lighter">The interest-earning wallet for stable <span class="underline--magical-yellow-thin">digital currencies</span>.</h2>
            <span class="gold-text font-weight-lighter">Coming soon. See <a href="/wallet" class="gold-text"><strong>demo</strong></a></span>
        </div>

        <%- include('partials/footer') %>
    </body>
</html>

<script>
    AOS.init();
</script>