<html>
    <%- include('partials/head') %>
    <body>
        <%- include('partials/nav') %>

        <!-- <div class="container home-banner " data-aos="fade-up" data-aos-duration="500">
            <img src="/assets/medici-black.png" class="rounded mx-auto d-block" width="80%" style="margin-top: 5em; margin-bottom: 2em;" alt="" >
            
            <h2 class="font-weight-lighter">The interest-earning wallet for stable <span class="underline--magical-yellow-thin">digital currencies</span>.</h2>
            <span class="gold-text font-weight-lighter">Coming soon. See <a href="/wallet" class="gold-text"><strong>demo</strong></a></span>
        </div> -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">

          <img src="/assets/medici-black.png" class="rounded mx-auto d-block" width="70%" style="margin-bottom: 2em;" alt="" >
          <h2 class="font-weight-lighter">The interest-earning wallet for stable <span class="underline--magical-yellow-thin">digital currencies</span>.</h2>
          <span class="gold-text font-weight-lighter">Coming soon.</span>
        </div>
      </div>
      <div class="text-center">
        <a href="/wallet" class="btn-get-started scrollto">Try Demo</a>
        <a href="https://thejuliawu.typeform.com/to/tsKoqc" class="btn-subscribe" target="_blank">Subscribe</a>
      </div>

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="far fa-credit-card"></i></div>
            <h4 class="title">Fund instantly with your debit card</h4>
            <p class="description">Turn the funds in your currency into a USD-pegged stablecoin such as DAI, USDC or USDT</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><img src="/assets/portis_icon_small.png" width="30%" alt=""></div>
            <h4 class="title">Built-in Wallet</h4>
            <p class="description">You can create a wallet with a username and password, thanks to Portis. No browser extension or downloads required.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><img src="https://pbs.twimg.com/profile_images/1152363392595714048/OVJu6nwQ_400x400.png" width="20%" alt=""></div>
            <h4 class="title">Grow your deposits</h4>
            <p class="description">Medici integrates with the Compound protocol so you can earn interest on stable cryptoassets.</p>
          </div>
        </div>
<!-- 
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="ri-fingerprint-line"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div> -->

      </div>
      
    </div>
  </section>
  <!-- End Hero -->

        <%- include('partials/footer') %>
    </body>
</html>

<script>
    AOS.init();
</script>