<html>
    <%- include('partials/head') %>
    <body>
        <%- include('partials/nav') %>

        <!-- <div class="container home-banner " data-aos="fade-up" data-aos-duration="500">
            <img src="/assets/medici-black.png" class="rounded mx-auto d-block" width="80%" style="margin-top: 5em; margin-bottom: 2em;" alt="" >
            
            <h2 class="font-weight-lighter">The interest-earning wallet for stable <span class="underline--magical-yellow-thin">digital currencies</span>.</h2>
            <span class="gold-text font-weight-lighter">Coming soon. See <a href="/wallet" class="gold-text"><strong>demo</strong></a></span>
        </div> -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">

          <img src="/assets/logo-medici-2.png" class="rounded mx-auto d-block" width="70%" style="margin-bottom: 1em; margin-top: 6em" alt="" >
          <h2 class="font-weight-lighter">The interest-earning wallet for stable <span class="underline--magical-yellow-thin">digital currencies</span>.</h2>
          <span><a href="#about" class="gold-text font-weight-lighter" style="text-decoration: none;">Learn more</a></span>
        </div>
      </div>
      <div class="text-center">
        <a href="/wallet" class="btn-get-started scrollto">TRY DEMO</a>
      </div>

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="far fa-credit-card"></i></div>
            <h4 class="title">Fund instantly with your debit card</h4>
            <p class="description">Turn the funds in your currency into a USD-pegged stablecoin such as DAI, USDC or USDT</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><img src="/assets/portis_icon_small.png" width="30%" alt=""></div>
            <h4 class="title">Built-in Wallet</h4>
            <p class="description">Create a wallet with a username and password, thanks to Portis. No browser extension or downloads required.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><img src="https://pbs.twimg.com/profile_images/1152363392595714048/OVJu6nwQ_400x400.png" width="20%" alt=""></div>
            <h4 class="title">Grow your deposits</h4>
            <p class="description">Medici integrates with the Compound protocol so you can earn interest on stable cryptoassets.</p>
          </div>
        </div>

      </div>
      
    </div>
  </section>
  <!-- End Hero -->





    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>About Medici</h2>
            <h4 class="font-weight-lighter">Enabling financial diversification through stable digital currencies, for anyone with an internet connection.</h4>
          </div>

          <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/TsaYFR7vudI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
        
        <div class="row content">

            <div class="col-lg-12 pt-4 pt-lg-0 text-center">

              <a href="https://thejuliawu.typeform.com/to/tsKoqc" class="btn-get-started font-weight-light">SUBSCRIBE FOR UPDATES</a>

            </div>

          </div>
        


        </div>
      </section><!-- End About Section -->



    <%- include('partials/footer') %>
    </body>
</html>

<script>
    AOS.init();
</script>