<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/web3@1.2.6/dist/web3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Wallet</title>
</head>
<body>

    <div class="container">

        <div class="card body-card shadow1">
            <section id="info">

                <h1 class="display-4 font-weight-light"><span class="underline--magical-yellow-thick">Medici</span> </h1>
                <h2 class="font-weight-lighter">The interest-earning wallet</h2>
                <p class="font-weight-lighter">Earning 1% APY</p>
                <h4 class="font-weight-light">Wallet Address</h3>
                <p class="font-weight-lighter" id="walletAddress"></p>

                <h4 class="font-weight-light">Wallet Balance</h4>
                <p class="font-weight-lighter" id="walletBalance"></p>

                <!-- ETH SUPPLY -->
                <h4 class="font-weight-light">Amount of ETH supplied to Compound</h4>
                <div class="card supply-card mb-3 shadow-sm" style="max-width: 60%;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                        <img src="https://1000logos.net/wp-content/uploads/2018/04/Ethereum-Logo.png" class="card-img">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <p id="underlyingEth"></p>
                        </div>
                        </div>
                    </div>
                </div>


            </section>

            <!-- SUPPLY OR REDEEM -->
            <section id="supplyOrRedeem">
                
                <form action="" id="supplyForm">
                    <input type="text" id="amountToSupply">
                    <input type="submit" class="btn btn-hover color-5 font-weight-light" id="supplyBtn" style="padding-top: .7rem;" value="SUPPLY">
                </form>

                <!-- CTOKENS -->
                <h4 class="font-weight-light">cTokens</h4>
                <p class="font-weight-lighter" id="cTokens"></p>
                <p class="small">cTokens represent your balance in the Compound protocol, and accrue interest over time.</p>
                
                <h4 class="font-weight-light">Redeem ETH from cETH</h4>
                <p id="exchangeRate"></p>
                <p id="redeemableEthValue"></p>
                <a class="btn btn-hover color-8 font-weight-light" id="redeemBtn" style="padding-top: .7rem; color: white">REDEEM</a>
                <p id="status"></p>
                <p id="successMessage"></p>
            </section>
        </div>
    </div>

    <script>

        var cTokenBalance; 

        $.get('/wallet-address', (data, status) => {
            console.log("got wallet address: ", data);
            walletAddress.innerHTML = data;
        })

        $.get('/wallet-balance/eth', (data, status) => {
            console.log("got wallet balance: ", data);
            walletBalance.innerHTML = data;
        });

        $.get('/protocol-balance/eth', (data, status) => {
            console.log("got amount of ETH supplied to Compound: ", data)
            underlyingEth.innerHTML = data;
        });

        $.get('/wallet-balance/ceth', (data, status) => {
            console.log("got amount of cETH in account wallet: ", data)
            cTokens.innerHTML = data;
            cTokenBalance = data;

            // get the current exchange rate
            $.get('https://api.compound.finance/api/v2/ctoken', (data, status) => {
                console.log("ctokens result: ", data.cToken[7]["exchange_rate"])
                var ethExchangeRate = data.cToken[7]["exchange_rate"].value;
                
                console.log("cTokens supplied: ", cTokenBalance)
                var redeemValue = cTokenBalance * ethExchangeRate;
                console.log("total eth value: ", redeemValue);

                redeemableEthValue.innerHTML = 'At the current exchange rate of ' + ethExchangeRate + ', your cETH can be redeemed for <b>' + redeemValue + '</b> ETH.';
            })

        }); 

        
        // var supplyButton = document.getElementById('supplyBtn');
        var supplyForm = document.getElementById('supplyForm')

        supplyForm.onsubmit = function(){
            console.log("supply button clicked!");
            status.innerHTML = "supplying ETH to the compound protocol...";
            const amount = document.getElementById('amountToSupply').value;

            // Mint some cETH by supplying ETH to the compound protocol
            $.get('/supply/eth/' + amount, (data, status) => {
                console.log('cETH "Mint" operation successful.');
                successMessage.innerHTML = 'â› Supply of ' + ' ETH was successful! You have minted some cETH.'
            })
        }

        // Redeem cETH
        var redeemButton = document.getElementById('redeemBtn');
        redeemButton.onclick = async function() {
            console.log("Exchanging all cETH based on underlying ETH amount...");
            $.get('/redeem/eth/' + cTokenBalance, (data, status) => {
                console.log("redeemed")
                successMessage.innerHTML = 'ðŸ’¸ You have redeemed ETH with your cETH!'
            })
        }
    </script>

</body>
</html>